.logo {
	width: fit-content;
	display: flex;
	align-items: center;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
	&__name {
		color: var(--cw);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.25;
		transition: all 150ms ease-in;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	padding: 10px 0;
	border-bottom: 1px solid var(--cw);
	background-color: transparent;

	&__body {
		display: flex;
		align-items: center;
	}
	&__sideBar {
		margin-left: auto;
		display: flex;
		align-items: center;
	}
}

.navList {
	display: flex;
	align-items: center;
	gap: 15px;
}

.listDesc {
	display: none;
}
.listMob {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 55px;
}

.burgerBtn {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 23.2px;
	height: 14px;
	transition: all 200ms ease-in;
	span {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		height: 2.496px;
		border-radius: 10px;
		background-color: var(--cw);
		transform: translateX(-50%) translateY(-50%) rotate(0);
		transition: all 200ms ease-in;
		&:first-child {
			top: 0;
		}
		&:last-child {
			top: 100%;
		}
	}
	&.isOpened {
		span {
			top: 50%;
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(1) {
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
			}
			&:nth-child(3) {
				transform: translateX(-50%) translateY(-50%) rotate(-45deg);
			}
		}
	}
}
.burgerBox {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	padding: 120px 0 60px 0;
	height: 100vh;
	width: 100%;
	backdrop-filter: blur(30px);
	transform: translateY(-100%);
	transition: all 300ms ease-in;

	opacity: 0;
	visibility: hidden;
	&.isOpened {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.bgHeader {
	backdrop-filter: blur(30px);
}
.otherPage {
	background-color: var(--cw);
	border-bottom: 1px solid var(--cb);

	.logo__name {
		color: var(--cb);
	}
	.burgerBtn {
		span {
			background-color: var(--cb);
		}
	}
}
.itemLink {
	color: var(--cb);
}

@media screen and (min-width: 768px) {
	.logo {
		&__icon {
			width: 60px;
			height: 60px;
		}
		&__name {
			font-size: 24px;
		}
	}

	.listDesc {
		display: flex;
		align-items: center;
		gap: 30px;
	}
	.listMob {
		display: none;
	}

	.burgerBtn {
		display: none;
	}
	.burgerBox {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
}
