.btn-def {
	display: block;
	width: fit-content;
	color: var(--cw);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.005rem;
	border-radius: 200px;
	background-color: var(--cr);
	transition: all 150ms ease-in;
	&:hover,
	&:focus {
		background-color: var(--cf);
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
