.btn-def {
	display: block;
	width: fit-content;
	// padding: 16px 60px;
	color: var(--cw);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.005rem;
	border-radius: 200px;
	background-color: var(--cr);
	transition: all 150ms ease-in;
	&:hover,
	&:focus {
		background-color: var(--cf);
	}
}

.amenities-item {
	padding: 12px 18px;
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	border-radius: 100px;
	background-color: var(--cn);
	span {
		color: var(--cb);
		font-weight: 500;
		line-height: 1.25;
	}
	svg {
		stroke: var(--cb);
		fill: transparent;
	}
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
