body {
	/* Colors */
	--cw: #fff;
	--ct: #f7f7f7;
	--cn: #f2f4f7;
	--cg: #475467;
	--cb: #101828;
	--cr: #e44848;
	--cf: #d84343;
	--cy: #ffc531;

	--rcp: rgba(41, 37, 33, 0.65);
	// --rcl: rgba(50, 63, 71, 1);

	/* Colors Dark */
	// --dcu: #f0eff4;
	// --dcy: #fff;
	// --dcw: #fff;
	// --dcq: #323f47;
	// --dcb: #2f2f2f;
	// --dch: #fff;

	// --drcg: rgba(47, 47, 47, 0.5);
	// --drcm: rgba(47, 47, 47, 0.2);
	// --drcw: rgba(47, 47, 47, 0.4);
	// --drcb: rgba(47, 47, 47, 0.6);
	// --drcn: rgba(50, 63, 71, 0.4);
	// --drco: rgba(47, 47, 47, 0.6);

	/* Fonts */
	--ff1: "Inter", sans-serif;
}

body.dark {
	// --dcu: #8ea0b8;
	// --dcy: #323f47;
	// --dcw: #8ea0b8;
	// --dcq: #fff;
	// --dcb: #f0eff4;
	// --dch: #2f2f2f;

	// --drcg: #e6e6e6;
	// --drcm: #f0eff4;
	// --drcw: #bcbcbc;
	// --drcb: #f0eff4;
	// --drcn: #bcbcbc;
	// --drco: #d9d9d9;
}
