body {
	/* Colors */
	--cw: #fff;
	--ct: #f7f7f7;
	--cn: #f2f4f7;
	--ch: #d9d9d9;
	--cg: #475467;
	--cb: #101828;
	--cr: #e44848;
	--cf: #d84343;
	--cy: #ffc531;

	--rcp: rgba(41, 37, 33, 0.65);
	--rcy: rgba(16, 24, 40, 0.2);
	--rco: rgba(16, 24, 40, 0.6);
	--rcu: rgba(71, 84, 103, 0.2);
	--rcw: rgba(17, 18, 19, 0.4);

	/* Fonts */
	--ff1: "Inter", sans-serif;
}
