.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		fill: var(--cw);
		stroke: var(--cb);
		transition: all 150ms ease-in;
	}
}
.selected {
	svg {
		fill: var(--cr);
		stroke: var(--cr);
	}
}
